
<tr>
    <td>
        <%= link_to produto.nome,
                    show_produto_path(produto.id),
                    method: :get %>
    </td>
    <td><%= produto.descricao %></td>
    <td><%= sprintf("%.2f", produto.preco) %></td>
    <td><%= produto.quantidade %></td>
    <td>
        <%= button_to "Remover", produto, 
                                method: :delete, 
                                class: "btn btn-danger",
                                data: { confirm: "Tem certeza que deseja remover #{produto.nome}?" } 
                                %>
    </td>
    <td>
        <%= link_to "Alterar", edit_produto_path(produto.id), 
                                class: "btn btn-default" %>
                                
    </td>
</tr>
