<h1 class="page-header"><%= @produto.nome %></h1>

<p><%= @produto.descricao %></p>

<p><strong>Valor: </strong> R$ <%= @produto.preco %></p>
<p><strong>Estoque: </strong> <%= @produto.quantidade %></p>
<p><strong>Departamento: </strong> <%= @produto.departamento.nome if @produto.departamento != nil %></p>
